@using Interns.Presentation.HtmlHelper
@model Interns.Presentation.Models.AdvertisePagingViewModel

@{
    ViewBag.Title = "Advertises";
}

<h2>Advertises</h2>

@foreach (var p in Model.Advertises)
{
    @Html.Partial("PartialAd", p)
}

@if (Model.PagingInfo.TotalPages > 1)
{
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetAllAdvertises", new { page = x }))
    </div>
}


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div> @Html.ActionLink("Add Advertise", "CreateAdvertise", null, new {@class = "btn btn-default"}) </div>
}